{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Perris</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontello.css' %}">
    {% block css %}

    {% endblock css %}
</head>

<body>
    <!-- cabecera -->
    <header>
        <!-- contenedor-->
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Mis Perris</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contactenos</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="#">Galeria Mascotas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Historias</a>
                            </li>
                            {% if user.is_authenticated %}
                            <!-- combo -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Categorias
                                </a>
                                <!-- elementos del combo -->
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Perros</a></li>
                                    <li><a class="dropdown-item" href="#">Gatos</a></li>
                                    <li><a class="dropdown-item" href="#">Pajaros</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Filtros de Busqueda</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Bienvenido: {{user.first_name}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'CERRAR' %}">Cerrar Sesion</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">Iniciar Sesion</a>
                            </li>
                            {% endif %}


                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Buscar mascota"
                                aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- sector principal -->
    <main>

        <section id="banner">
            <img src="{% static 'img/perro1.jpg' %}" alt="">
            <div class="contenedor">
                <h2>Mascotas felices en mis perris</h2>
                <p>cual es la mejor mascota para usted</p>
                <a href="">Leer Mas</a>
            </div>
        </section>
        <!-- region editable -->
        {% block contenido %}

        {% endblock contenido %}
    </main>
    {% block js %}

    {% endblock js %}
    <footer>
        <div class="contenedor">
            <p>Mis Perris - Desarrollo Web</p>
        </div>
    </footer>
</body>

</html>