{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% endblock css %}
    
{% block contenido %}


        <section id="bienvenida">
            <h2>Formulario de Inscripcion Nuevo Usuario</h2>
        </section>

    
        <section id="formulario">

            <form class="form-registro" action="{% url 'CREARU' %}" method="post" onsubmit="return validarPass()">
                {% csrf_token %}
                <h2 class="form-titulo">Creacion de Cuenta Usuario</h2>
                <div class="contenedor-input">
                    <input class="col-chica" type="text" name="txtNombre" id="txtNombre" placeholder="ingrese nombre " required minlength="5" maxlength="45" pattern="[A-Za-z ]+" title="solo letras">
                    <input class="col-chica" type="text" name="txtApellido" id="txtApellido" placeholder="ingrese apellido" required minlength="5" maxlength="45" pattern="[A-Za-z ]+" title="solo letras">         
                    <input class="col-chica" type="email" name="txtEmail" id="" placeholder="ingrese email" required minlength="5"> 
                    <input class="col-chica" type="text" name="txtUsuario" id="txtUsuario" placeholder="ingrese usuario" required minlength="5" maxlength="12">
                    <input class="col-chica" type="password" name="txtPass1" id="txtPass1" placeholder="ingrese password" required minlength="8" maxlength="12">
                    <input class="col-chica" type="password" name="txtPass2" id="txtPass2" placeholder="repita password" required minlength="8" maxlength="12">
                 
                    <input class="btn-registrar" type="submit" value="registrar">
                    <input class="btn-registrar" type="reset" value="limpiar">
                </div>
                <div style="text-align: center;color: red;font-size: xx-large;">
                    {{mensaje}}
                </div>
            </form>
        </section>
    
 {% endblock contenido %}
 {% block js %}
        <script>
            function validarPass() {
                var pass1 = document.getElementById("txtPass1").value;
                var pass2 = document.getElementById("txtPass2").value;
                if (pass1!=pass2) {
                    Swal.fire('Las contraseñas son diferentes');
                    return false;
                }
                var usuario = document.getElementById("txtUsuario").value;
                var largo = usuario.trim().length;
                if (largo==0) {
                    Swal.fire('nombre de usuario esta vacio');
                    return false;
                }
                return true;
            }
        </script>
 {% endblock js %}   

